version: '3'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7.0.15
    ports:
      - "6379:6379"

  sidekiq:
    build: .
    command: bundle exec sidekiq
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/tech_interview_development
      REDIS_URL: redis://redis:6379/0
    volumes:
      - .:/app

  test:
    build: .
    command: bundle exec rspec
    depends_on:
      - postgres
      - redis
    environment:
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/tech_interview_test
      REDIS_URL: redis://redis:6379/1
    volumes:
      - .:/app

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0"
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/tech_interview_development
      REDIS_URL: redis://redis:6379/0
    volumes:
      - .:/app

volumes:
  postgres_data:
